
@mixin body($cp, $cs) {
    body *{
        &.dark{
            background-color: $cs;
            color: $cp;
        }
        
        &.light{
            background-color: $cp;
            color: $cs;
        }
        
    }
    
}